@import 'style/color';

.articlePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: $teal;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__img {
    margin-bottom: 1rem;
    max-height: 600px;
    width: 100%;
    object-fit: contain;
  }

  &__content {
    font-size: 1.2rem;
    color: $white;
  }
}
