@import 'style/variable';
@import 'style/color';

.paceWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 1rem;
  align-items: flex-start;

  .btn {
    background-color: $teal;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding-left: 6px;
    transition: $transition;
    user-select: none;
    cursor: pointer;

    i {
      margin-right: 10px;
    }

    span {
      visibility: hidden;
    }

    &:hover {
      width: max-content;

      span {
        visibility: visible;
      }
    }
  }
}
