*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: $black;
  color: $white;
  font-family: $font-paragraph;
}

#root {
  min-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: inherit;
}
